<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>

        <div class="ionContainer">
          <ion-item>
            Position: <input [formControl]="positionForm" list="PositionList" (input)="positionSuggestion()"
                             (change)="selectPositionSuggestion()">
            <datalist id="PositionList">
              <option *ngFor="let pos of addressSuggestions" [value]="pos.formatted_address"></option>
            </datalist>
            <ion-icon name="locate-outline"></ion-icon>
          </ion-item>
          <br>
          <ion-item>
            Destination: <input list="DestinationList" [formControl]="destinationForm" (input)="destinationSuggestion()"
                                (change)="selectDestinationSuggestion()">
            <datalist id="DestinationList">
              <option *ngFor="let des of addressSuggestions" [value]="des.formatted_address"></option>
            </datalist>
            <ion-icon name="locate-outline"></ion-icon>
          </ion-item>
          <br/>
          <ion-item>
            <ion-select [value]="1" value="1" [(ngModel)]="selectPersons" style="width: auto" label="Persons">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
            <ion-button [disabled]="formgrp.invalid" (click)="searchForPrices(selectPersons)" slot="end">Search
            </ion-button>
          </ion-item>

        </div>

        <br>
        <app-maps></app-maps>

      </ion-col>
      <ion-col>
        <br>
        <ion-card *ngFor="let taxInfo of state.taxinfos"
                  class="taxi-price" (click)="clickedCard(taxInfo)"
                  [attr.data-testid]="'card_'+taxInfo.companyName"
                  style="max-width: 500px"
        >
          <div>
            <ion-card-title style="display: flex; align-items: center;justify-content: center;">
              {{taxInfo.companyName}}
            </ion-card-title>
            <ion-card-content style="display: flex; align-items: center;justify-content: center;">
              <img style="max-height: 50px;" [src]="'./assets/' + taxInfo.companyName + '.png'"
                   alt="logo of {{taxInfo.companyName}}" fill="">
            </ion-card-content>
            <ion-card-subtitle style="display: flex; align-items: center;justify-content: center; font-size: x-large">
              {{taxInfo.taxiPrice + " DKK"}}
            </ion-card-subtitle>
          </div>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
