<ion-content>
  <div class="ionContainer">
    <ion-item>
      <ion-input label="Position" label-placement="floating" fill="outline" placeholder="Position"></ion-input>
      <ion-icon name="locate-outline"></ion-icon>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Destination" label-placement="floating" fill="outline" placeholder="Destination"></ion-input>
      <ion-icon name="locate-outline"></ion-icon>
    </ion-item>
    <br>
    <ion-item>
      <ion-input value="{{ date | date: 'dd.MM.yyyy' }}" id="date" class="ion-text-end"></ion-input>
      <ion-icon id="dateIcon" style="margin-right: 10px" name="calendar-outline"></ion-icon>
      <ion-icon name="time-outline"></ion-icon>
    </ion-item>
    <ion-popover trigger="date" size="cover">
      <ng-template>
        <ion-datetime
          presentation="date"
          [(ngModel)]="date"
          locale="DK"
        ></ion-datetime>
      </ng-template>
    </ion-popover>
    <br/>
    <ion-item>
      <ion-select [(ngModel)]="persons" style="width: auto" label="Persons" placeholder="Amount of people">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
      </ion-select>
      <ion-button [disabled]="!persons" (click)="searchForPrices(5,5, persons)" slot="end">Search</ion-button>
    </ion-item>

  </div>
  <div>
    <br>
    <ion-grid>
      <ion-col *ngFor="let taxInfo of state.taxinfos">

        <ion-item>

          <ion-card class="taxi-price" (click)="clickedCard(taxInfo)"
                    [attr.data-testid]="'card_'+taxInfo.companyName"
          >
            <div>
              <ion-card-title style="display: flex; align-items: center;justify-content: center;">
                {{taxInfo.companyName}}
              </ion-card-title>
              <ion-card-content style="display: flex; align-items: center;justify-content: center;">
                <img style="max-height: 50px;" [src]="'./assets/' + taxInfo.companyName + '.png'"
                     alt="logo of {{taxInfo.companyName}}" fill="">
              </ion-card-content>
              <ion-card-subtitle style="display: flex; align-items: center;justify-content: center; font-size: x-large">
                {{taxInfo.taxiPrice + " DKK"}}
              </ion-card-subtitle>
            </div>

          </ion-card>
        </ion-item>

      </ion-col>
    </ion-grid>
  </div>

  <div>
    <br>
    <br>
    <p>Insert Google API here</p>
  </div>
</ion-content>
