<ion-content>
  <div class="ionContainer">
    <ion-item>
      <ion-input label="Position" label-placement="floating" fill="outline" placeholder="Position"></ion-input>
      <ion-icon name="locate-outline"></ion-icon>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Destination" label-placement="floating" fill="outline" placeholder="Destination"></ion-input>
      <ion-icon name="locate-outline"></ion-icon>
    </ion-item>
    <br>
    <ion-item>
      <ion-input value="{{ date | date: 'dd.MM.yyyy' }}" id="date" class="ion-text-end"></ion-input>
      <ion-icon id="dateIcon" style="margin-right: 10px" name="calendar-outline"></ion-icon>
      <ion-icon name="time-outline"></ion-icon>
    </ion-item>
    <ion-popover trigger="date" size="cover">
      <ng-template>
        <ion-datetime
          presentation="date"
          [(ngModel)]="date"
          locale="sl-SI"
        ></ion-datetime>
      </ng-template>
    </ion-popover>
    <br/>
    <ion-item>
      <ion-select style="width: auto" label="Persons" placeholder="Amount of people">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
      </ion-select>
      <ion-button (click)="searchForPrices()" slot="end">Search</ion-button>
    </ion-item>

  </div>
  <div>
    <br>
    <ion-grid>
      <ion-col>
        <ion-row>
          <ion-item>

            <ion-card class="taxi-price" (click)="clickedCard(taxiFare)"
                      [attr.data-testid]="'card_'+taxiFare.companyName"
                      *ngFor="let taxiFare of (state.TaxiPrices?.taxiCompanies) || []">
              <div style="display: flex; align-items: center;justify-content: center;">
                {{taxiFare.companyName}} {{(state.TaxiPrices?.taxiPrices ?? {})[taxiFare.companyName] ?? "Unknown"}}
                <img style="max-height: 50px;" Src="./assets/DNAT.png" alt="logo of DefinitelyNotATaxi Company"
                     fill="">
              </div>

            </ion-card>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-grid>
  </div>

  <div>
    <br>
    <br>
    <p>Insert Google API here</p>
  </div>
</ion-content>
