
<ion-content>
  <section class="parentdiv">
    <div class="childdiv">
      <ion-input label="Email" [formControl]="loginForm.controls.email" label-placement="floating" placeholder="Email"></ion-input>
      <br />
      <ion-input label="Password" [formControl]="loginForm.controls.password" label-placement="floating" type="password" placeholder="Password"></ion-input>
      <br />
      <ion-button (click)="login()">Login</ion-button>
      <!--ion-button [routerLink]="['/home']" >Login</ion-button-->
      <p>Have not got an account yet? <a routerLink="/register">Create an account here</a></p>
    </div>
  </section>
</ion-content>
