
ion-input{
  background-color: #00B0FF;
  text-align: center;
  align-items: center;
  border-radius: 25px;
}
ion-button{
  --background: #1967D2;
  --border-radius: 25px;
  --background-hover: #134a9f;
}
div{
  /*Center elements inside the div*/
  text-align: center;
}
.parentdiv{
  height: 75%;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.childdiv{
  width: 50%;
  margin: auto;
}
